.tags{
    overflow: auto;
    cursor: text;
    background-color: #fff;
    height: auto;
    border-radius: 0;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
}
.add-tag{
    padding: 3px;
    margin: 2px;
    width: 125px!important;
    background-color: #fff;
    height: 40px;
    padding-left: 12px;
    border: none!important;
}
.actions {
    width: auto;
    padding: 10px;
    padding-bottom: 7px;
}
.assign-button *  {
    padding: 10px;
    padding-left: 0px;
    line-height: 2.2rem;
}
.tag-btn {
    margin: 2px;
    padding: 5px 12px 0 6px;
    height: 37px;
    border: 1px solid #acacac;
    border-radius: 3px;
    background: none;
    margin: 5px;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-top: 0;
}
.tag-title {
    font-weight: bold;
}
.add-tag {
    background-color: #eed;
}
svg {
    width: 18px;
    height: 23px;
}
.remove {
    padding-left: 4px;
}
.tag-group-container {
    width: 516px;
}
.explore {
    margin-left: auto;
}